.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control span,
.form-control input {
    width: 100%;
    display: block;
}

.form-control input {
    border: 1px solid #ccc;
    font-size: 18px;
    padding: 3px;
}

.form-control {
    margin-bottom: 0.25rem;
}

.form-actions button {
    background: #01d1d1d1;
    font: inherit;
    border: 1px solid #01d1d1d1;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    color: #fff;
    cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
    background: #01a7a7;
}

.auth-form-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
}